html{
    scroll-behavior: smooth;
    touch-action: manipulation;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
/* Welcome Effect */
 #splash{
    position: fixed;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    background-color: black;
    z-index: 200;
    line-height: 90vh;
}
#splash.display-none{
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    background-color: black;
    z-index: -10;
    line-height: 90vh;
    transition: all 0.6s;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    color: white;
    font-size: xxx-large;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
/* NavBar */
#logo{
    margin-left: 15px;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:rgb(34, 40, 49);
}
.progress-container {
    width: 100%;
    height: 8px;
    background: linear-gradient(to left,rgb(34, 40, 49),rgb(57, 62, 70)100%);
}
.progress-bar {
    height: 8px;
    background: #aa0404;
    width: 0%;
}
#myBar{
    background: linear-gradient(to right,rgb(57, 62, 70) 20%,rgb(0, 173, 181) 100%);
}
#navbar{
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.5s;
    width: 100vw;
    z-index: 99;
    background: linear-gradient(to left,rgb(34, 40, 49),rgb(57, 62, 70)100%);
}
.nav_hidden{
    transform: translateY(calc(-1 * 128px));
}
#navbar li a{
    color: rgb(238, 238, 238);
    opacity: 0.8;
    transition: 0.4s;
}
#navbar a:hover{
    opacity: 1;
    transition: 0.4s;
}
#frontLogo{
    margin-left: 5px;
}
#hr{
    margin-left: 5px;
    display: inline;
    height: 80px;
    border-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    border-style:solid ;
    border-right: 4px;
}
.nav-item{
    margin-right: 15px;
}
/* Load The Pages */
#Home{
    height: 100vh;
    background: linear-gradient(to bottom,rgb(57, 62, 70) 20%,rgb(0, 173, 181) 100%);
}
#Skills{
    height: 950px;
    background-color: rgb(34, 40, 49);
}
#Projects{
    height: 600px;
    background:linear-gradient(to right,rgb(34, 40, 49) 40%,rgb(57, 62, 70) 100%);
}
#Certificates{
    height: 2000px;
    background: linear-gradient(to bottom,rgb(34, 40, 49) 40%,rgb(57, 62, 70) 100%);
}
#Contact_us{
    height: 300px;
    background:rgb(57, 62, 70)
}
/* Animation On Scroll */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.5s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
@media all and (min-width:500px) and (max-width:991px){
    html{
        font-size:115% ;
    }
}
